/* video container */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin-bottom: 1.5rem;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* default font size */
html {
  font-size: 12pt;
}

/* main background color (in dark mode) */
.dark, :root:not(.light) {
    background-color: #09090B; 
}

body {
    background-color: #09090B !important; 
}


/* hovering texts color */
::selection {
    background-color: #EC003F;
    color: #FFFFFF;
}

.decoration-primary-500 {
    text-decoration-color: rgb(76 71 87);
}

a[title="Scroll to top"] {
    background-color: #09090B !important; 
    border-color: #09090B !important;
    opacity: 1 !important; 
    color: var(--color-neutral-900) !important; 
}

a[title="Scroll to top"]:hover,
a[title="Scroll to top"]:focus {
    background-color: #09090B  !important;
    opacity: 1 !important; 
    color : rgb(var(--color-primary-500)) !important;
    border-color: #09090B !important;
}

.rounded-full {
    border-radius: 0px;
}

/* home button color */
.header a.active,
.header a[aria-current="page"] {
    color: #f3f4f6 !important;
}