/* video container */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin-bottom: 1.5rem;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* default font size */
html {
  font-size: 12pt;
}

/* main background color (in dark mode) */
.dark, :root:not(.light) {
    background-color: #09090B; 
}

/* body background color */
body {
    background-color: #09090B !important; 
    overflow-y: scroll;
}

/* hovering texts color */
::selection {
    background-color: #EC003F;
    color: #FFFFFF;
}

/* color of social buttons */
.flex-wrap.text-neutral-400 a:hover,
.dark\:text-neutral-500 a:hover {
    color: rgb(236, 0, 63) !important;
}

/* color of page links underlines */
.decoration-primary-500 {
    text-decoration-color: rgb(236, 0, 63) !important;
}

/* modifications to scroll to top button*/
a[title="Scroll to top"] {
    background-color: #09090B !important; 
    border-color: #09090B !important;
    opacity: 1 !important; 
    color: rgb(255, 255, 255) !important;
}

a[title="Scroll to top"]:hover,
a[title="Scroll to top"]:focus {
    background-color: #09090B  !important;
    opacity: 1 !important; 
    color : rgb(236, 0, 63) !important;
    border-color: #09090B !important;
}

/* remove the weird black outline around scroll to top button */
a[title="Scroll to top"] {
  border-radius: 0px !important; 
}

/* home button color */
.header a.active,
.header a[aria-current="page"] {
    color: #f3f4f6 !important;
}

/* default button colors */
a[role="button"] {
    background-color: rgb(255, 255, 255) !important; 
    color: rgb(0, 0, 0) !important;
    text-decoration: none !important;
    font-weight: bold !important;
    font-style: normal !important;
    font-size: 0.9rem !important;
    padding: 0.15rem 0.5rem !important;
}

/* hover state colors */
a[role="button"]:hover,
a[role="button"]:focus {
    color: rgb(236, 0, 63)  !important;
}

/* container for button */
.center-button-container {
    text-align: center !important;
    margin-top: -2.2rem !important; 
    margin-bottom: 2.5rem !important; 
}

/* small description container */
.small-description {
    text-align: left !important;
    margin-top: 0rem !important; 
    margin-bottom: 3rem !important; 
    font-size: 1rem !important;
}

/* showreel container */
.showreel {
    margin-top: 0rem !important; 
    margin-bottom: 0rem !important; 
}

.showreel-subtitle {
    text-align: center;
    font-size: 16px;
    font-style: italic;
    margin-bottom: 3.5rem !important;
}

.showreel-subtitle a {
    color: rgb(236, 0, 63);
}

/* custom gallery */
.custom-gallery {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    gap: 6px;
    margin-top: 1rem !important; 
    margin-bottom: 3.5rem !important; 
}

.gallery-item img {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    object-fit: cover;
}
img {
    border: 3px solid #ececec;
    max-width: 100%;
}

/* main wrapper */
.main-content-wrapper {
    max-width: 900px;
    width: 90%;
    margin: 0 auto; 
    padding: 0 15px;
}

/* remove profile pic border */
img.rounded-full {
    border: 0px solid #ececec; 
}

/* container for game buttons */
.game-button-container {
    text-align: left !important;
    margin-top: 1.5rem !important; 
    margin-bottom: 2rem !important; 
}

.game-button-container a {
    margin-right: 0.5rem !important;
}

.custom-list {
    list-style-type: disc !important;
    list-style-position: inside;
    padding-left: 2rem;
    margin-top: 0.5rem !important; 
}

.project-description {
    margin-top: -1rem !important; 
}

.main-content .flex-wrap {
    /* Set the color to white. Since the icon uses currentColor, 
       this forces the icon to be white. */
    color: #ffffff !important;
}