/* video container */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin-bottom: 1.5rem;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* default font size */
html {
  font-size: 12pt;
}

/* main background color (in dark mode) */
.dark, :root:not(.light) {
    background-color: #09090B; 
}

/* hovering buttons color */
a:hover {
    color: #EC003F !important;
}

/* hovering texts color */
::selection {
    background-color: #EC003F;
    color: #FFFFFF;
}

/* pages buttons color */
/*nav a:hover span, 
nav a:hover {
    color: #f3f4f6 !important; 
}*/
/* 1. Target the text color on hover */
.header a:hover, 
.header a:focus {
    /* Use the text color that matches your dark background for neutral look */
    color: var(--color-neutral) !important; 
}

/* Ensure the active link also remains neutral */
.header a.active,
.header a[aria-current="page"] {
    color: var(--color-neutral) !important;
}

/*body {
    background-color: #09090B !important; 
}*/


a[title="Scroll to top"] {
    /* Set background to the Rose accent color */
    background-color: #09090B !important; 
    border-color: #09090B !important;
    
    /* NEW: Force 100% opacity to remove the pixelated effect */
    opacity: 1 !important; 
    
    /* Ensure the icon color inside is white */
    color: var(--color-neutral-900) !important; 
}

/* Ensure the hover state also maintains 100% opacity and the right color */
a[title="Scroll to top"]:hover,
a[title="Scroll to top"]:focus {
    background-color: #09090B  !important;
    opacity: 1 !important; 
    color : rgb(var(--color-primary-500)) !important;
    border-color: #09090B !important;
}



/* home button color */
.header a.active,
.header a[aria-current="page"] {
    color: #f3f4f6 !important;
}