/* video container */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin-bottom: 1.5rem;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* default font size */
html {
  font-size: 12pt;
}

/* main background color (in dark mode) */
.dark, :root:not(.light) {
    background-color: #09090B; 
}

/* body background color */
body {
    background-color: #09090B !important; 
}

/* hovering texts color */
::selection {
    background-color: #EC003F;
    color: #FFFFFF;
}

/* color of social buttons */
.flex-wrap.text-neutral-400 a:hover,
.dark\:text-neutral-500 a:hover {
    /* Set the text color to your primary Rose/Red accent color */
    color: rgb(236, 0, 63) !important;
}

/* color of page links underlines */
.decoration-primary-500 {
    text-decoration-color: rgb(236, 0, 63) !important;
}

/* modifications to scroll to top button*/
a[title="Scroll to top"] {
    background-color: #09090B !important; 
    border-color: #09090B !important;
    opacity: 1 !important; 
    color: rgb(255, 255, 255) !important;
}

a[title="Scroll to top"]:hover,
a[title="Scroll to top"]:focus {
    background-color: #09090B  !important;
    opacity: 1 !important; 
    color : rgb(236, 0, 63) !important;
    border-color: #09090B !important;
}

/* remove the weird black outline around scroll to top button */
.rounded-full {
    border-radius: 0px;
}

/* home button color */
.header a.active,
.header a[aria-current="page"] {
    color: #f3f4f6 !important;
}